.mySwiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .myswiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .myswiper-slide img {
    display: block;
    width: 100%;
  }
  