.about {
  opacity: .6;
}

.trans {
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
  transition: 0.6s ease;
  transform: scale(1);
}

.trans:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.trans1 {
  transition: 0.6s ease;
  transform: scale(1);
}

.trans1:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.about:hover {
  opacity: 1;
  cursor: pointer;
}

.svghov {
  background-color: #a7ebff;
  padding: 1px;
  border: 8px solid rgb(0, 0, 0);
}

.svghov:hover {
  color: #ffffff;
  border: 8px solid rgb(255, 255, 255);
  transition: all;
}

.svghovmod {
  background-color: #f0d6f8;
  padding: 10px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 0;
  
}

.svghovmod:hover {
  color: #ffffff;
  border: 8px solid rgb(255, 255, 255);
  transition: all;
}


.opac {
  opacity: 1;
}

.opac:hover {
  opacity: 0.7;
}


.svghovmodju {
  background-color: #f0d6f8;
  border: 8px solid rgb(0, 0, 0);
  border-radius: 0;
}

.svghovmodju:hover {
  color: #ffffff;
  border: 8px solid rgb(255, 255, 255);
  transition: all;
}



.swiper {
  min-width: 200px;
  min-width: 200px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(255, 255, 255);
}

